{% extends "tables.html" %}

{% block bigtable %}    

                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                             Advanced Tables
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    
                                    <thead>
                                        <tr>
                                            <th>Rendering engine</th>
                                            <th>Browser</th>
                                            <th>Platform(s)</th>
                                            <th>Engine version</th>
                                            <th>CSS grade</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for user in allUsers %}
                                        <tr class="odd gradeX">
                                            <td>{{forloop.counter0}}</td>
                                            <td>user</td>
                                            <td>Dummy</td>
                                            <td class="center">dum</td>
                                            <td class="center">X</td>
                                        </tr>
                                    {% endfor %}

                                     </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div>
                    <!--End Advanced Tables -->
{% endblock %}