<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Subway Traffic Login Page</title>
    <meta name="description" content="">
    <meta name="author" content="">
 
 {% load staticfiles %}
  <!-- BOOTSTRAP STYLES-->
    <link href="{% static 'hello/css/bootstrap.css' %}" rel="stylesheet" />
    <link href="{% static 'hello/css/login.css' %}" rel="stylesheet" />


</head>
<body>
  <div class="container">
    <div class="content">
      <div class="row">
        <div class="login-form">
          <h2>Login</h2>
          <form action="">
            <fieldset>
              <div class="clearfix">
                <input type="text" placeholder="Username">
              </div>
              <div class="clearfix">
                <input type="password" placeholder="Password">
              </div>
              <button class="btn primary" type="submit">Sign in</button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div> <!-- /container -->
</body>
</html>