{% extends "base.html" %}
{% load staticfiles %}
{% block addcss %}
 <!-- TABLE STYLES-->
    <link href="{% static 'hello/js/dataTables/dataTables.bootstrap.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}

<div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                     <h2>Tables of Passenger data</h2>
                     <h5> Try ordering the data by the relevant fields to suit your needs!</h5>   
                    </div>
                </div>
                 <!-- /. ROW  -->
                 <hr />
        <div class="row">
        <div  id = "bigTable" class="col-md-12">
           {% block bigtable %}
        <div id = "spinner"></div>
           {% endblock %}
        </div>
        </div>
            <div class="row">
                <div class="col-md-6">
                      <!--    Recent travelers table  -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Last Week Passengers
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-hover" id="timeTable">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Gender</th>
                                            <th>Age</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                      {% for user in lastweek %}
                                        <tr>
                                            <td>{{user.name}}</td>
                                            <td>{{user.gender}}</td>
                                            <td>{{user.age}}</td>
                                        </tr>
                                        {%endfor%}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--  End  recent travelers Table  -->
                </div>
                <div class="col-md-6">
                    <!--    Senior Table  -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Over 60
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive table-hover">
                                <table class="table" id="ageTable">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Gender</th>
                                            <th>Last traveled</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       {% for user in over60 %}
                                        <tr>
                                            <td>{{user.name}}</td>
                                            <td>{{user.gender}}</td>
                                            <td>{{user.when}} weeks ago</td>
                                        </tr>
                                        {%endfor%}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                     <!--  End  seniors Table  -->
                </div>
            </div>
        </div>
               
    </div>
             <!-- /. PAGE INNER  -->
{% endblock %}


{% block addscripts %} 
<!-- DATA TABLE SCRIPTS -->
    <script src="{% static 'hello/js/dataTables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'hello/js/dataTables/dataTables.bootstrap.js'%}"></script>
    <script src="{% static 'hello/js/bigTableAjax.js'%}"></script>

{% endblock %}