{% extends "base.html" %}
{% load staticfiles %}
{% block addcss %}
 <!-- TABLE STYLES-->
    <link href="{% static 'hello/js/dataTables/dataTables.bootstrap.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}

<div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                     <h2>Table Examples</h2>   
                    </div>
                </div>
                 <!-- /. ROW  -->
                 <hr />
        <div class="row">
        <div  id = "bigTable" class="col-md-12">
           {% block bigtable %}
        <div id = "spinner"></div>
           {% endblock %}
        </div>
        </div>

                <!-- /. ROW  -->
            <div class="row">
                <div class="col-md-6">
                  <!--   Kitchen Sink -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Kitchen Sink
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Username</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                         {% for data in tabledata %}
                                        <tr>
                                            <td>{{forloop.counter0}}</td>
                                            <td>{{data}}</td>
                                            <td>dummy</td>
                                            <td>dummy</td>
                                            <td>100090</td>
                                        </tr>
                                        {%endfor%}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                     <!-- End  Kitchen Sink -->
                </div>
                <div class="col-md-6">
                     <!--   Basic Table  -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Basic Table
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Username</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       {% for data in tabledata %}
                                        <tr>
                                            <td>{{forloop.counter0}}</td>
                                            <td>{{data}}</td>
                                            <td>dummy</td>
                                            <td>dummy</td>
                                            <td>100090</td>
                                        </tr>
                                        {%endfor%}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                      <!-- End  Basic Table  -->
                </div>
            </div>
                <!-- /. ROW  -->
            <div class="row">
                <div class="col-md-6">
                      <!--    Striped Rows Table  -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Striped Rows Table
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Username</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                      {% for data in tabledata %}
                                        <tr>
                                            <td>{{forloop.counter0}}</td>
                                            <td>{{data}}</td>
                                            <td>dummy</td>
                                            <td>dummy</td>
                                            <td>100090</td>
                                        </tr>
                                        {%endfor%}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--  End  Striped Rows Table  -->
                </div>
                <div class="col-md-6">
                    <!--    Bordered Table  -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Bordered Table
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive table-bordered">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Username</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       {% for data in tabledata %}
                                        <tr>
                                            <td>{{forloop.counter0}}</td>
                                            <td>{{data}}</td>
                                            <td>dummy</td>
                                            <td>dummy</td>
                                            <td>100090</td>
                                        </tr>
                                        {%endfor%}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                     <!--  End  Bordered Table  -->
                </div>
            </div>
                <!-- /. ROW  -->
            <div class="row">
                <div class="col-md-6">
                     <!--    Hover Rows  -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Hover Rows
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Username</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for data in tabledata %}
                                        <tr>
                                            <td>{{forloop.counter0}}</td>
                                            <td>{{data}}</td>
                                            <td>dummy</td>
                                            <td>dummy</td>
                                            <td>100090</td>
                                        </tr>
                                        {%endfor%}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- End  Hover Rows  -->
                </div>
            </div>
                <!-- /. ROW  -->
        </div>
               
    </div>
             <!-- /. PAGE INNER  -->
{% endblock %}


{% block addscripts %} 
<!-- DATA TABLE SCRIPTS -->
    <script src="{% static 'hello/js/dataTables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'hello/js/dataTables/dataTables.bootstrap.js'%}"></script>
    <script src="{% static 'hello/js/dataTables/bigTableAjax.js'%}"></script>

        <script>
            $(document).ready(function () {
                $('#dataTables-example').dataTable();
            });
    </script>

{% endblock %}